// This file has multiple nestings because Docusaurus adds its custom selectors that he overrides in build phase and doesn't take into account your overrides.
// Themes are not mend to be overriden whole but only partial.

.blog-list-page {
	#__docusaurus {
		.main-wrapper {
			padding: var(--global-container-spacing-default) 0;

			aside {
				display: none;
			}

			.container {
				padding: 0 !important;
				margin: 0;
				max-width: initial;
			}

			.row {
				display: block;
				margin: 0;
			}

			main {
				position: relative;
				max-width: var(--global-container-default);
				padding: 0 var(--global-gutter);
				margin: 0 auto;
				flex: initial;
				display: grid;
				grid-template-columns: repeat(var(--grid-size, 1), 1fr);
				grid-gap: 30px 80px;

				@include media(tablet) {
					--grid-size: 2
				}

				@include media(desktop up) {
					--grid-size: 3
				}
			}

			article {
				margin-bottom: 0 !important;
				border-bottom: 1px solid var(--global-colors-sapling);
				padding-bottom: 50px;

				header {
					h2 {
						@extend .heading-size--large;
						font-family: var(--global-font-family-alternative);
						letter-spacing: -2px;
						color: var(--global-colors-elephant);
						margin-bottom: 10px;
					}

					a {
						color: var(--global-colors-elephant);
						transition: {
							property: color;
							timing-function: ease-out;
							duration: 0.3s;
						}

						&:hover {
							text-decoration: none;
							color: var(--global-colors-mandy);
						}
					}

					div[class^="blogPostData"] {
						@extend .paragraph-size--small;
						color: var(--global-colors-pewter);
						font-style: italic;
						margin-top: 0 !important;
					}

					.row {
						display: none;
					}
				}

				.markdown {
					p {
						@extend .paragraph-size--default;
					}
				}

				footer {
					margin-top: 40px !important;
					display: block;

					b {
						display: none;
					}

					ul {
						margin-left: 0 !important;
						display: inline-flex;
						flex-wrap: wrap;
						margin-bottom: 0;
					}

					li {
						display: block;
					}

					a {
						display: block;
						color: var(--global-colors-pewter);
						transition: {
							property: color;
							timing-function: ease-out;
							duration: 0.3s;
						}

						&:hover {
							background-color: var(--global-colors-mandy);
							border-color: var(--global-colors-mandy);
							color: var(--global-colors-white);
						}
					}

					.col {
						padding: 0;
						flex: inherit;
						max-width: 100%;
						@extend .paragraph-size--small;
					}
				}
			}

			.pagination-nav {
				border-top: none;
				grid-column: 1 / -1;
				padding-top: 0;
				margin-top: 30px;
			}
		}
	}
}
