/* stylelint-disable docusaurus/copyright-header */
@import 'media-blender';
@import 'normalize-scss';
@include normalize();
@import '@eightshift/frontend-libs/styles/index.scss';

/* Utils */
@import 'utils/colors';
@import 'utils/defaults';
@import 'utils/shared-variables';

// Config.
@import 'core';

// Components.
@import './../theme/components/heading/heading';
@import './../theme/components/container/container';
@import './../theme/components/button/button';
@import './../theme/components/arrow/arrow';
@import './../theme/components/navbar/navbar';
@import './../theme/components/navbar-sidebar/navbar-sidebar';
@import './../theme/components/algolia/algolia';
@import './../theme/components/left-sidebar/left-sidebar';
@import './../theme/components/docs-layout/docs-layout';
@import './../theme/components/right-sidebar/right-sidebar';
@import './../theme/components/legacy-badge/legacy-badge';
@import './../theme/components/markdown/markdown';
@import './../theme/components/pagination/pagination';

/* Sections */
@import './../theme/sections/get-started/get-started';
@import './../theme/sections/intro/intro';
@import './../theme/sections/features/features';
@import './../theme/sections/why/why';
@import './../theme/sections/panels/panels';
@import './../theme/sections/footer/footer';
@import './../theme/sections/foot/foot';
@import './../theme/sections/iframe/iframe';
@import './../theme/sections/showcase-grid/showcase-grid';
