*,
*::after,
*::before {
	@include box-sizing;
}

html {
	font-size: var(--global-font-size-default);
}

body {
	@include font-smoothing;
	font-family: var(--global-font-family);
	color: var(--global-colors-elephant);
	background-color: var(--global-colors-white);
	position: relative;
	overflow-x: hidden;
}
