%shift-arrow-hover {
	transform: translateX(10px);
	transition: {
		property: transform;
		timing-function: ease-out;
		duration: 0.3s;
	}
}

.shift-arrow {
	transition: {
		property: transform;
		timing-function: ease-out;
		duration: 0.3s;
	}

	&:hover {
		@extend %shift-arrow-hover;
	}
}
