$get-started-map: (
  title: (
    mobile: (
      font-size: 64px,
      line-height: 1.03,
    ),
  ),
  subtitle: (
    mobile: (
      font-size: 18px,
      line-height: 1.56,
    ),
  ),
  paragraph: (
    mobile: (
      font-size: 32px,
      line-height: 1.19,
      color: $base-elephant-color,
    ),
  ),
  theme: $base-picton-color,
  plugin: $base-mandy-color,
);

.get-started {
  padding: 90px 32px;

  &__heading {
    text-align: center;
  }

  &__title {
    @include responsive($get-started-map, title);
    font-weight: bold;
    line-height: 1.03;
    letter-spacing: -2px;
    margin-bottom: 35px;
  }

  &__subtitle {
    @include responsive($get-started-map, subtitle);
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 90px;
  }

  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  &__column {
    @include flex-grid-width(6);

    &--plugin {
      padding-top: 80px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 25px;
  }

  &__background {
    position: relative;
  }

  &__icon {
    position: absolute;
    left: 20%;
  }

  &__content {
    text-align: center;
  }

  &__paragraph {
    font-weight: bold;
    letter-spacing: -1px;
    @include responsive($get-started-map, paragraph);
  }

  &__theme {
    color: map-get-strict($get-started-map, theme);
  }

  &__plugin {
    color: map-get-strict($get-started-map, plugin);
  }
}
