// This file has multiple nestings because Docusaurus adds its custom selectors that he overrides in build phase and doesn't take into account your overrides.
// Themes are not mend to be overriden whole but only partial.

.docs-wrapper,
.blog-post-page  {
	#__docusaurus {
		--bottom-spacing: 60px;

		.breadcrumbs__link {
			background-color: transparent;
			color: var(--global-colors-elephant);
		}

		// Content.
		.main-wrapper {
			width: 100%;
			background-color: var(--global-colors-white);

			.container {
				padding: 0 !important;
				margin: 0;
				max-width: initial;
			}

			main {
				position: relative;
				padding: var(--global-docs-top-spacing) var(--global-gutter);

				@include media(desktop up) {
					padding: {
						top: var(--global-docs-top-spacing);
						right: calc(var(--global-gutter) * 2);
						bottom: var(--bottom-spacing);
						left: calc(var(--global-gutter) * 2);
					}
					max-width: calc(100% - var(--global-sidebar-width));
				}

				@include media(large up) {
					padding-right: calc(var(--global-sidebar-width) + calc(var(--global-gutter) * 2));
				}

				.row {
					margin: 0;
					display: block;
				}
	
				.col {
					padding: 0;
					max-width: initial !important;
				}
			}

			article {
				max-width: 70ch;
				margin: 0 auto;

				h1 {
					@extend .heading-size--huge;
					margin-top: 0;
					margin-bottom: 20px;
				}

				h2 {
					@extend .heading-size--big;
				}

				h3 {
					@extend .heading-size--large;
				}

				h4 {
					@extend .paragraph-size--large;
				}

			}

			div[class^="tableOfContents_"] {
				display: none;

				@include media(large up) {
					display: block;
					top: var(--global-header-height);
					position: fixed;
					right: 0;
					padding-top: var(--global-docs-top-spacing);
					padding-right: var(--global-gutter);
				}
			}
		}
	}
}
