/// Mixin that takes calc-column-width mixin and creates modifier classes from it. Used by flex grid.
///
/// @access public
/// @author Ivan Ruzevic
/// @param {string} $cols [$base-col-number] - Total number of columns.
/// @param {string} $wrapper - Wrap output item with additional markup.
/// @param {string} $selector [margin-left] - HTML valid selector. Define offset type used. Default: .
/// @example
/// .test {
///   @include column-offset-modifiers;
/// }
/// @example
/// .test {
///   @include column-offset-modifiers($wrapper: '.item');
/// }
/// @output
/// ```scss
/// .test--1 {
///   margin-left: 100%;
/// }
///
/// .test--2 {
///   margin-left: 50%;
/// }
/// ```
/// ```scss
/// .test--1 .item {
///   margin-left: 100%;
/// }
/// .test--2 .item {
///   margin-left: 50%;
/// }
/// ```
@mixin column-offset-modifiers($cols: $base-col-number, $wrapper: false, $selector: 'margin-left') {
  @for $i from 1 through $cols {
    &--#{$i} {
      @if $wrapper {
        #{$wrapper} {
          #{$selector}: calc-column-width($i);
        }
      }

      @else {
        #{$selector}: calc-column-width($i);
      }
    }
  }
}
