/// Mixin that creates flex vertical align modifiers.
///
/// @example
/// .test {
///   @include flex-vertical-align-modifiers;
/// }
///
/// @output
/// ```scss
/// .test--top {
///   align-self: flex-start;
/// }
/// .test--center {
///   align-self: center;
/// }
/// .test--bottom {
///   align-self: flex-end;
/// }
/// ```

@mixin flex-vertical-align-modifiers() {
  &--top {
    align-self: flex-start;
  }

  &--center {
    align-self: center;
  }

  &--bottom {
    align-self: flex-end;
  }
}
