/// Mixin that takes flex-column-width mixin and creates modifier classes from it. Used for flex grid with columns.
///
/// @param {string} $cols [$base-col-number] - Total number of columns
/// @param {string} $wrapper - Wrap output item with additional markup
///
/// @example
/// .test {
///   @include column-width-modifiers;
/// }
/// @example
/// .test {
///   @include column-width-modifiers($wrapper: '.item');
/// }
///
/// @output
/// ```scss
/// .test--1 {
///   flex: 0 0 100%;
///   max-width: 100%;
/// }
/// .test--2 {
///   flex: 0 0 50%;
///   max-width: 50%;
/// }
/// ```
/// ```scss
/// .test--1 .item {
///   flex: 0 0 100%;
///   max-width: 100%;
/// }
/// .test--2. item {
///   flex: 0 0 50%;
///   max-width: 50%;
/// }
/// ```

@mixin flex-column-width-modifiers($cols: $base-col-number, $wrapper: false) {
  @for $i from 1 through $cols {
    &--#{$i} {
      @if $wrapper {
        #{$wrapper} {
          @include flex-column-width($i);
        }
      }

      @else {
        @include flex-column-width($i);
      }
    }
  }
}
