/// Mixin that creates custom bullet list style.
///
/// @param {string} $bullet-color - Set bullet custom color. Default: $base-primary-color.
/// @param {string} $bullet-size - Set bullet custom size. Default: 10px.
/// @param {string} $bullet-spacing - Set bullet custom spacing. Default: 25px.
///
/// @example
/// .test {
///   @include custom-bullets;
/// }
///
/// @output
/// ```scss
/// .test {
///   list-style: none;
///   position: relative;
///   padding-left: 25px;
/// }
/// .test::before {
///   content: '';
///   position: absolute;
///   left: 0;
///   top: 50%;
///   background-color: #D8262C;
///   width: 10px;
///   height: 10px;
///   transform: translateY(-50%);
/// }
/// ```

@mixin custom-bullets( $bullet-color: $base-primary-color, $bullet-size: 10px, $bullet-spacing: 25px) {

  list-style: none;
  position: relative;
  padding-left: $bullet-spacing;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    background-color: $bullet-color;
    width: $bullet-size;
    height: $bullet-size;
    transform: translateY(-50%);
  }
}
