/// Mixin that will output modifier classes for specific number range from map key.
///
/// @param {string} $map - Map to search for.
/// @param {string} $selector - HTML valid selector.
///
/// Map:
/// $test: (
///   test: (
///     min:  0,
///     max:  300,
///     step: 10,
///   ),
/// );
///
/// @example
/// .test {
///   @include modifiers-range($test, test, padding-top);
/// }
///
/// @output
/// ```scss
/// .test--0 {
///   padding-top: 0px;
/// }
/// .test--10 {
///   padding-top: 10px;
/// }
/// .test--20 {
///   padding-top: 20px;
/// }
/// .test--30 {
///   padding-top: 30px;
/// }
/// ```

@mixin modifiers-range($map, $key, $selector) {
  $min: map-get-deep($map, $key, min);
  $max: map-get-deep($map, $key, max);
  $step: map-get-deep($map, $key, step);

  $final-range: ($max+$step)/$step;

  @for $i from $min to $final-range {
    $i: #{$i * $step};

    &--#{$i} {
      #{$selector}: #{$i}px;
    }
  }
}
