/// Mixin that creates output used for definition of positions.
///
/// @param {string} $top - Top Position. Default: 0.
/// @param {string} $right - Right Position. Default: 0.
/// @param {string} $bottom - Bottom Position. Default: 0.
/// @param {string} $left - Left Position. Default: 0.
/// @param {string} $position - Position type. Default: absolute.
///
/// @example
/// .test {
///   @include stretch(20px, 30px, 40px, 30%, fixed);
/// }
///
/// @output
/// ```scss
/// .test {
///   position: fixed;
///   top: 20px;
///   right: 30px;
///   bottom: 40px;
///   left: 30%;
/// }
/// ```

@mixin stretch($top: 0, $right: 0, $bottom: 0, $left: 0, $position: absolute) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
