  
/*
Some default colors are defined in eightshift-frontend-libs as defaults.
If you want to override them just define them with a new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/styles/scss/_colors.scss
*/

$base-elephant-color: #0C3636;
$base-cape-color:     #4B5555;
$base-cararra-color:  #F4F3F0;
$base-nevada-color:   #656F6F;
$base-mandy-color:    #E84E4E;
$base-white-color:    #FFFFFF;
$base-pewter-color:   #999C9C;
$base-chamois-color:  #F5DD64;
$base-picton-color:   #44AEDE;
$base-egg-color:      #F7EFC7;
$base-charade-color:  #282A36;
