#__docusaurus .navbar {
	$this: &;
	box-shadow: none;
	height: var(--global-header-height);
	background-color: var(--global-colors-white);
	padding: 0;
	display: flex;
	box-shadow: 0 2px 3px var(--global-shadow-elephant);

	&__inner {
		padding: 0 var(--global-gutter);
		margin: 0 auto;
	}

	&__link {
		@extend .paragraph-size--medium;
		font-weight: 500;
		padding: 0 20px;
		transition: {
			property: color;
			timing-function: ease-out;
			duration: 0.3s;
		}
		color: var(--global-colors-cape);

		&:hover {
			color: var(--global-colors-mandy);
		}
	}

	&__brand {
		height: auto;
		margin: 0;
	}

	&__logo {
		height: auto;
		max-width: 156px;
		margin: 0;

		img {
			display: block;
		}
	}

	&__search {
		height: 48px;
		padding-left: 20px;
		display: none;

		@include media(tablet up) {
			display: block;
		}
	}

	&__search-input {
		width: 122px;
		height: 100%;
		background-color: var(--global-colors-white);
		padding-left: 40px;
		padding-right: 20px;
		font-family: var(--global-font-family);
		@extend .paragraph-size--medium;
		font-weight: 500;
		color: var(--global-colors-nevada);
		transition: {
			property: width;
			timing-function: ease-out;
			duration: 0.3s;
		}

		&:focus {
			width: 300px;
			transition: {
				property: width;
				timing-function: ease-out;
				duration: 0.3s;
			}
		}

		&::placeholder {
			color: var(--global-colors-nevada);
		}
	}

	&__toggle {
		background-color: var(--global-colors-white);
		border-radius: 50%;
		width: var(--global-mobile-nav-button-size);
		height: var(--global-mobile-nav-button-size);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 9px;
		margin-right: 20px;

		@include media(desktop up) {
			display: none;
		}

		&:focus {
			outline: none;
		}
	}
}
