$intro-map: (
  background-color: $base-cararra-color,
  title: (
    mobile: (
      font-size: 132px,
      line-height: 0.98,
      color: $base-elephant-color,
    ),
  ),
  subtitle: (
    mobile: (
      font-size: 18px,
      line-height: 1.56,
      color: $base-cape-color,
    ),
  ),
);

.intro {
  display: flex;
  padding-top: 95px;
  background-color: map-get-strict($intro-map, background-color);

  &__container {
    display: flex;
    width: 100%;
  }

  &__column {
    &--content {
      @include flex-grid-width(6);
      padding-left: 100px;
    }

    &--image {
      @include flex-grid-width(6);
      overflow: overlay;
      position: relative;
    }
  }

  &__content {
    padding-top: 30px;
    display: flex;
  }

  &__one {
    width: 75px;
  }

  &__two {
    padding-left: 40px;
    width: 435px;
  }

  &__title {
    @include responsive($intro-map, title);
    font-weight: bold;
    letter-spacing: -1px;
  }

  &__subtitle {
    @include responsive($intro-map, subtitle);
    margin-bottom: 50px;
  }

  &__line {
    width: 75px;
    color: #778080;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__button {
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 1.43;
    text-transform: uppercase;
    color: $base-white-color;
    background-color: $base-elephant-color;
    padding: 14px 44px;
    border-radius: 100px;
    transition: all .3s ease-out;

    &:hover {
      color: $base-white-color;
      transform: scale(1.1);
    }
  }

  &__background {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__image {
    position: absolute;
    bottom: 115px;
    left: 105px;
  }
}
