.markdown {
	> p {
		@extend .paragraph-size--medium;
		font-weight: 500;
		color: var(--global-colors-cape);

		code {
			padding: 2px 5px;
		}
	}

	a {
		color: var(--global-colors-mandy);
		transition: {
			property: color;
			timing-function: ease-out;
			duration: 0.3s;
		}

		&:hover {
			color: var(--global-colors-cape);
			text-decoration: none;
		}
	}

	li {
		@extend .paragraph-size--medium;
		padding: 5px 0;
		font-weight: 500;
		color: var(--global-colors-cape);

		> p {
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	strong {
		color: var(--global-colors-elephant);
	}

	blockquote {
		@extend .paragraph-size--medium;
		background-color: var(--global-colors-egg);
		border-color: var(--global-colors-mandy);
		font-weight: 500;
		color: var(--global-colors-cape);
		padding: 10px;
		border-radius: var(--global-border-radius);

		code {
			background-color: var(--global-colors-chamois);
			color: var(--global-colors-cape);
		}
	}

	code {
		@extend .paragraph-size--medium;
		background-color: var(--global-colors-charade);
		font-family: var(--global-block-family-code);
		font-weight: 500;
		border-radius: var(--global-border-radius);
		color: var(--global-colors-white);
	}

	pre code {
		padding: 20px;
	}

	div[class^="codeBlock_"] {
		border-radius: 0;
	}

	.token-line {
		@extend .paragraph-size--small;
		font-weight: 500;
		font-family: var(--global-block-family-code);
	}
}
