$footer: (
  footer: (
    mobile: (
      margin-top: 30px,
      padding: 0,
      background-color: inherit,
    ),
  ),
  container: (
    mobile: (
      max-width: $base-container-size,
      margin: 0 auto,
      padding: 0 $base-gutter-size,
    ),
  ),
  heading: (
    mobile: (
      font-family: $base-font-family-alternative,
      font-size: 64px,
      line-height: 1.03,
      letter-spacing: -2px,
      text-align: center,
      color: $base-elephant-color,
      margin-bottom: 125px,
    ),
  ),
  content: (
    mobile: (
      display: flex,
      flex-wrap: wrap,
      margin: 0 (-$base-gutter-size / 2) -50px,
    ),
  ),
  item: (
    mobile: (
      text-align: center,
      padding: 0 ($base-gutter-size/2),
      margin-bottom: 50px,
    ),
  ),
  icon: (
    mobile: (
      margin-bottom: 25px,
    ),
  ),
  label: (
    mobile: (
      font-size: 24px,
      font-weight: bold,
      line-height: 1.13,
      color: $base-elephant-color,
      text-align: center,
      font-family: $base-font-family-alternative,
      margin-bottom: 20px,
    ),
  ),
  link: (
    mobile: (
      margin-top: 30px,
    ),
  ),
);

.footer {
  @include responsive($footer, footer);

  &__container {
    @include responsive($footer, container);
  }

  &__heading {
    @include responsive($footer, heading);
  }

  &__content {
    @include responsive($footer, content);
  }

  &__item {
    @include responsive($footer, item);
    @include flex-grid-width(12);

    @include media(tablet) {
      @include flex-grid-width(6);
    }
    @include media(desktop up) {
      @include flex-grid-width(3);
    }
  }

  &__icon {
    @include responsive($footer, icon);
  }

  &__label {
    @include responsive($footer, label);
  }

  &__link {
    @include responsive($footer, link);
  }

  // &__top {
  //   flex: 0 0 100%;
  //   width: 100%;
  //   padding-top: 70px;
  //   padding-bottom: 65px;
  // }

  // &__content {
  //   @include responsive($footer, content);
  //   display: flex;
  //   flex-wrap: wrap;
  //   width: 100%;
  // }

  // &__column {
  //   @include responsive($footer, column);
  //   text-align: center;
  // }

  // &__image {
  //   margin-bottom: 25px;
  // }

  // &__text p{
  //   font-size: 24px;
  //   line-height: 1.13;
  //   font-weight: bold;
  //   color: $base-elephant-color;
  // }

  // &__bottom {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex: 0 0 100%;
  //   width: 100%;
  //   padding-top: 45px;
  //   font-size: 18px;
  //   font-weight: 500;
  //   line-height: 1.44;
  //   color: $base-pewter-color;
  // }

  // &__left {
  //   @include responsive($footer, bottom);
  //   @include responsive($footer, left);
  // }

  // &__right {
  //   @include responsive($footer, bottom);
  //   @include responsive($footer, right);
  // }

  // &__eightshift {
  //   font-size: 18px;
  //   color: $base-cape-color;
  // }

  // &__dot {
  //   margin-left: 5px;
  //   margin-right: 5px;
  // }

  // &__logo {
  //   margin-left: 10px;
  // }

}
