%left-sidebar {
	width: var(--global-sidebar-width);
	padding: 0;
	background-color: var(--global-colors-cararra);
	display: none;
	margin-top: calc(-1 * var(--global-header-height));
	border-right: none;
	min-height: 100vh;

	> * {
		display: flex;
		flex-direction: column;
		max-height: 100vh;
		height: 100%;
		position: sticky;
		top: 0;
		width: 100%;
		padding: var(--global-header-height) 0 0,
	}
}

#__docusaurus {
	.theme-doc-sidebar-container {
		@extend %left-sidebar;

		@include media(desktop up) {
			display: block;
		}
	}

	.menu {
		padding: var(--global-docs-top-spacing) var(--global-gutter);

		&--show {
			padding: var(--global-gutter);
		}

		ul {
			@extend .paragraph-size--small;
			font-weight: 500;
			letter-spacing: 0.4px;

			a.menu__link--active {
				color: var(--global-colors-mandy);
				background-color: transparent;
			}

			.menu__list-item-collapsible:hover {
				background-color: transparent;
			}

			a {
				@extend .paragraph-size--small;
				letter-spacing: 0.4px;
				font-weight: 500;
				font-family: var(--global-font-family);
				padding-left: 0;
				padding-right: 25px;
				color: var(--global-colors-cape);
				transition: {
					property: color;
					timing-function: ease-out;
					duration: 0.3s;
				}
				position: relative;
	
				&::after {
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -10px;
					background-size: 24px;
				}
	
				&:focus {
					outline: none;
				}
	
				&:hover {
					color: var(--global-colors-mandy);
					background-color: transparent;
				}
			}

			.theme-doc-sidebar-item-category-level-1 {
				> div > a.menu__link {
					@extend .paragraph-size--default;
					font-weight: bold;
					color: var(--global-colors-elephant);
					font-family: var(--global-font-family-alternative);
	
					&::after {
						background-size: 24px;
					}
				}
			}
		}
	}

	div[class^="sidebarItemTitle_"] {
		@extend .paragraph-size--default;
		font-weight: bold;
		color: var(--global-colors-elephant);
		font-family: var(--global-font-family-alternative);
		margin-bottom: 0 !important;
	}

	ul[class^="sidebarItemList_"] {
		margin: 0;

		a {
			@extend .paragraph-size--small;
			letter-spacing: 0.4px;
			padding-right: 0;
			color: var(--global-colors-cape) !important;

			&:hover {
				color: var(--global-colors-mandy) !important;
			}
		}

		a[class*="sidebarItemLinkActive_"] {
			color: var(--global-colors-mandy) !important;
		}
	}
}
