@import '../parts/utils/fonts';
@import '../parts/utils/colors';

.project {
  padding-top: 90px;
  padding-bottom: 100px;
  padding-left: 32px;
  padding-right: 32px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__content {
    flex: 0 0 100%;
    width: 100%;
    padding-left: 220px;
    padding-bottom: 75px;
  }

  &__title {
    font-size: 64px;
    line-height: 1.03;
    letter-spacing: -2px;
    margin-bottom: 100px;
  }

  &__lists {
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    padding-left: 130px;
  }

  &__column {
    flex: 0 0 50%;
    padding-left: 21px;
    padding-right: 21px;
  }

  &__list {
    font-family: $base-font-family;
    font-size: 18px;
    line-height: 1.56;
    color: $base-cape-color;
    list-style-type: none;
    width: 526px;
    height: 100%;
  }

  &__item {
    margin-bottom: 40px;

    &--title {
      font-family: $base-heading-family;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.13;
      letter-spacing: -0.5px;
      color: $base-elephant-color;
      padding-bottom: 20px;
    }

    &--red {
      background-image: url('/../../../static/img/ic-bullet-1.svg');
      background-position-y: 7px;
      background-repeat: no-repeat;
      padding-left: 40px;
    }

    &--purple {
      background-image: url('/../../../static/img/ic-bullet-2.svg');
      background-position-y: 7px;
      background-repeat: no-repeat;
      padding-left: 40px;
    }

    &--blue {
      background-image: url('/../../../static/img/ic-bullet-3.svg');
      background-position-y: 7px;
      background-repeat: no-repeat;
      padding-left: 40px;
    }

    &--yellow {
      background-image: url('/../../../static/img/ic-bullet-4.svg');
      background-position-y: 7px;
      background-repeat: no-repeat;
      padding-left: 40px;
    }

    &--green {
      background-image: url('/../../../static/img/ic-bullet-5.svg');
      background-position-y: 7px;
      background-repeat: no-repeat;
      padding-left: 40px;
    }
  }
}
