#__docusaurus {
	.table-of-contents {
		padding-left: var(--global-gutter);
		width: var(--global-sidebar-width);

		li {
			margin: 0;

			a {
				color: var(--global-colors-cape);
				display: block;
				padding: 7px 0;
				line-height: 1.5;
				font-size: 12px;
				transition: {
					property: color;
					timing-function: ease-out;
					duration: 0.3s;
				}

				&:hover,
				&.table-of-contents__link--active {
					color: var(--global-colors-mandy);
				}
			}
		}
	}
}
