$features: (
  features: (
    mobile: (
      padding: 0 0 200px,
      background-color: inherit,
    ),
  ),
  container: (
    mobile: (
      max-width: $base-container-size,
      margin: 0 auto,
      padding: 0 $base-gutter-size,
    ),
  ),
  heading: (
    mobile: (
      font-family: $base-font-family-alternative,
      font-size: 32px,
      line-height: 1.19,
      letter-spacing: -2px,
      color: $base-elephant-color,
      margin-bottom: 65px,
    ),
    tablet: (
      font-size: 64px,
      line-height: 1.03,
      margin-bottom: 125px,
    ),
  ),
  content: (
    mobile: (
      display: flex,
      flex-wrap: wrap,
      margin: 0 (-$base-gutter-size / 2) -30px,
    ),
  ),
  item: (
    mobile: (
      text-align: left,
      padding: 0 ($base-gutter-size/2),
      margin-bottom: 30px,
      flex: 0 0 calc-grid-width(12),
    ),
    tablet: (
      flex: 0 0 calc-grid-width(6),
    ),
  ),
  title: (
    mobile: (
      font-size: 24px,
      font-weight: bold,
      line-height: 1.13,
      color: $base-elephant-color,
      font-family: $base-font-family-alternative,
      margin-bottom: 15px,
      padding-left: 40px,
      position: relative,
    ),
    tablet: (
      max-width: 410px,
    )
  ),
  desc: (
    mobile: (
      font-size: 18px,
      font-weight: 500,
      line-height: 1.56,
      color: $base-cape-color,
      margin-bottom: 20px,
      padding-left: 40px,
    ),
    tablet: (
      max-width: 410px,
    )
  ),
);

.features {
  @include responsive($features, features);

  &__container {
    @include responsive($features, container);
  }

  &__heading {
    @include responsive($features, heading);
  }

  &__content {
    @include responsive($features, content);
  }

  &__item {
    @include responsive($features, item);
  }

  &__title {
    @include responsive($features, title);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      width: 16px;
      height: 16px;
    }

    &--red::before {
      background-image: url('/../../../static/img/ic-bullet-1.svg');
    }

    &--purple::before {
      background-image: url('/../../../static/img/ic-bullet-2.svg');
    }

    &--blue::before {
      background-image: url('/../../../static/img/ic-bullet-3.svg');
    }

    &--yellow::before {
      background-image: url('/../../../static/img/ic-bullet-4.svg');
    }

    &--green::before {
      background-image: url('/../../../static/img/ic-bullet-5.svg');
    }
  }

  &__desc {
    @include responsive($features, desc);
  }
}
