$heading: (
  heading: (
    mobile: (
      text-align: center,
      max-width: 750px,
      margin: 0 auto 60px,
    ),
    tablet: (
      margin-bottom: 75px,
    )
  ),
  heading-left: (
    mobile: (
      text-align: left,
      margin-left: 0,
      margin-right: 0,
    ),
  ),
  title: (
    mobile: (
      font-family: $base-font-family-alternative,
      letter-spacing: -2px,
      color: $base-elephant-color,
    ),
  ),
  title-sizes: (
    mobile: (
      default: (
        font-size: 32px,
        line-height: 1.19,
      ),
      medium: (
        font-size: 32px,
        line-height: 1.19,
      ),
    ),
    tablet: (
      default: (
        font-size: 64px,
        line-height: 1.03,
      ),
      medium: (
        font-size: 48px,
        line-height: 1.13,
      ),
    ),
  ),
  subtitle: (
    mobile: (
      font-size: 18px,
      line-height: 1.56,
      color: $base-cape-color,
      margin-top: 20px,
    ),
    tablet: (
      margin-top: 40px,
    ),
  ),
  link-color: $base-mandy-color,
);

.shift-heading {
  @include responsive($heading, heading);

  &__align {
    &--left {
      @include responsive($heading, heading-left);
    }
  }

  &__title {
    @include responsive($heading, title);
  }

  &__title-size {
    @include responsive-modifiers($heading, title-sizes);
  }

  &__subtitle {
    @include responsive($heading, subtitle);

    a {
      text-decoration: underline;
      color: map-get-strict($heading, link-color)
    }
  }
}
