.shift-why {
	&__shift-heading {
		max-width: 580px;
	}

	&__image {
		max-width: 100%;
		height: auto;

		&--desktop {
			display: none;

			@include media(tablet up) {
				display: block;
			}
		}
		&--mobile {
			display: block;

			@include media(tablet up) {
				display: none;
			}
		}
	}
}
