.shift-container {
	margin: 0 auto;
	padding: 0 var(--global-gutter);

	&__size {
		&--default {
			max-width: var(--global-container-default);
		}

		&--medium {
			max-width: var(--global-container-medium);
		}

		&--small {
			max-width: var(--global-container-small);
		}

		&--smaller {
			max-width: var(--global-container-tiny);
		}
	}
}
