.shift-container {
	$this: &;
	padding: var(--global-container-spacing-default) var(--global-gutter);

	&__inner {
		margin: 0 auto;
	}

	&__inner-size {
		&--default {
			max-width: var(--global-container-default);
		}

		&--medium {
			max-width: var(--global-container-medium);
		}

		&--small {
			max-width: var(--global-container-small);
		}

		&--smaller {
			max-width: var(--global-container-tiny);
		}
	}

	&__spacing-top {
		&--none {
			padding-top: 0 !important;
		}

		&--small {
			padding-top: 40px;
		}
	}

	&__spacing-bottom {
		&--none {
			padding-bottom: 0 !important;
		}

		&--small {
			padding-bottom: 40px;
		}
	}

	&__bg-color {
		&--light {
			background-color: var(--global-colors-cararra);
		}
	}
}
