/* colors */

$base-elephant-color: #0C3636;
$base-cape-color: #4B5555;
$base-cararra-color: #F4F3F0;
$base-alto-color: #D8D8D8;
$base-nevada-color: #656F6F;
$base-mandy-color: #E84E4E;
$base-flush-color: #CB3A3A;
$base-white-color: #FFFFFF;
$base-keppel-color: #30ADAD;
$base-silver-color: #C4C4C4;
$base-pewter-color: #999C9C;
$base-citrin-color: #F7EFC7;
$base-chamois-color: #EBE0AB;
$base-picton-color: #44AEDE;