@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@font-face {
  font-family: MarkPro;
  src: url('/../../../../static/fonts/MarkPro.woff');
}

$base-font-family: 'IBM Plex Sans', sans-serif;
$base-heading-family: 'MarkPro', monospace;
$base-code-block-family: 'IBM Plex Mono', monospace;